@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-pixel antialiased;
    background-color: #000;
    color: #e8e8d0;
    margin: 0;
    overflow: hidden;
  }
}

/* Make sure the pixel font is crispy */
* {
  letter-spacing: 0.05em;
}